<{{#if editable}}a href="/profile_edit_avatar" {{else}}div{{/if}}
  class="avatar {{#if editable}}avatar_editable{{/if}} {{#if className}}{{className}}{{/if}}">

  {{#if img}}
  <img src="{{img}}" alt="Аватар пользователя" class="avatar__img">
  {{else}}
  {{{Icon value=icon}}}
  {{/if}}

  <div class="avatar__title">{{title}}</div>
</{{#if editable}}a{{else}}div{{/if}}>
