<div class="user-card {{#if className}}{{className}}{{/if}}">

  <div class="user-card__avatar">
    {{{avatar}}}
  </div>

  <div class="user-card__body card-body">
    <div class="card-body__title">{{{name}}}</div>

    {{#if message}}<div class="card-body__message">{{message}}</div>{{/if}}
  </div>

  {{#if date}}
  <div class="user-card__meta card-meta">
    <div class="card-meta__date">{{date}}</div>

    {{#if counter}}
    <div class="card-meta__counter">{{counter}}</div>
    {{/if}}
  </div>
  {{/if}}


</div>
