<div class="messages">
  {{#if placeholder}}
    <div class="messages__placeholder">
      <div class="messages__info">
        {{{placeholder}}}
      </div>
    </div>
  {{else}}
    <header class="messages__header">
      {{{header}}}
    </header>

    <section class="messages__body custom-scroll">
      {{{body}}}
    </section>

    <footer class="messages__footer">
      {{{footer}}}
    </footer>
  {{/if}}
</div>
